@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
    display: block;
  }
  
  .menu.open {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    font-size: 24px;
  }
  
  /* Estilos de ícone do hambúrguer (pode variar dependendo do ícone usado) */
  .hamburger .icon {
    /* Estilos do ícone, por exemplo, usando font-awesome ou react-icons */
  }

  .swal2-styled.swal2-deny {
    background-color: #5b21b6;
    color: white;
  }
  
  .swal2-styled.swal2-confirm {
    background-color: #cc1313;
    color: white;
  }
